<style>
    .box {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        overflow: hidden;
        margin: 1rem;
    }
    img.profile {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
</style>
{% if project_list %}
{% for follow in project_list %}

<div class="box">
    <img src="{{ follow.image.url }}" alt="" class="profile">
</div>
<!--{% include 'snippets/follow_list.html' with project_list=project_list %}-->
{% endfor %}
{% else %}
없어
{% endif %}