
.butter_logo{
    font-family: 'Chewy', cursive;
}

.butter_footer{
    text-align:center;
    margin-top:2rem;
}

.butter_footer_button{
    font-size:.9rem;
 }

 .butter_header{
    text-align:center;
    margin:2rem 0;
 }

@media screen and (max-width:500px){
    html{
        font-size: 13px;
    }
}

a{color:black; text-decoration: none;}
a:hover{
    color : black;
    text-decoration: none;
}

.header_nav{
    margin: 0 0.5rem;
}

.header_navber{
    margin: 1rem 0;
}