<div class="butter_header pop container-fluid fixed-top mb-1">
        <div>
            <a href="{% url 'home' %}"><h1 class="butter_logo" style="font-size:3rem;">Shookiki</h1></a>
        </div>
        <div class="header_nav" style="text-align:right; margin-right:2rem;">
            <!--<a href="{% url 'articleapp:list' %}" class="header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list' %}" class="header_nav">
            <span>Projects</span>
            </a>
            <a href="{% url 'subscribeapp:list' %}" class="header_nav">
            <span>Subscription</span>
            </a>-->
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login'%}?next={{request.path}}" class="header_nav">
                <span>Login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="header_nav">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout'%}?next={{request.path}}" class="header_nav">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>
</div>