<div class="butter_header">
        <div>
            <h1 class="butter_logo">Butter</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login'%}?next={{request.path}}">
                <span>Login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:logout'%}?next={{request.path}}">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>
</div>