<div class="left_top">
    <a href="#menu" id="toggle">
        <i class="material-icons">favorite</i>
    </a>

    <div id="menu">
      <ul>
        <li><a href="{% url 'articleapp:list'%}">Articles</a></li>
        <li><a href="{% url 'projectapp:list' %}">Projects</a></li>
        <li><a href="{% url 'subscribeapp:list' %}">Subscription</a></li>
      </ul>
    </div>
</div>


    <!--<div id="category" style="visibility:hidden;">
        <span>a</span>
        <span>b</span>
        <span>c</span>
    </div>-->

<!--
{% if  user.is_authenticated %}
    <div class="shookikies">
        <h2>Shookikies</h2>
        <ul class="profile-list">
            <li class="profile-list&#45;&#45;item">
            <header class="profile-details">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5175/cadet-mahoney.jpg" alt="" class="profile-img" />
            <h3 class="profile-name">Carey Mahoney</h3>
            </header>
            </li>
            <li class="profile-list&#45;&#45;item">
            <header class="profile-details">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5175/cadet-mahoney.jpg" alt="" class="profile-img" />
            <h3 class="profile-name">Carey</h3>
            </header>
            </li>
        </ul>
    </div>
{% endif %}-->













<script>
function on_display(){
    if(document.getElementById('category').style.visibility == "visible"){
        document.getElementById('category').style.visibility="hidden";
    }
    else{
        document.getElementById('category').style.visibility="visible";
    }
}
</script>


<script>
    var theToggle = document.getElementById('toggle');

// based on Todd Motto functions
// https://toddmotto.com/labs/reusable-js/

// hasClass
function hasClass(elem, className) {
	return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
// addClass
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
    	elem.className += ' ' + className;
    }
}
// removeClass
function removeClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
// toggleClass
function toggleClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    } else {
        elem.className += ' ' + className;
    }
}

theToggle.onclick = function() {
   toggleClass(this, 'on');
   return false;
}
</script>